/* @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Archivo+Black&family=Ultra&family=Gabarito:wght@400;900&family=Assistant&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}

body {
    background-color: #fff;
}