@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-weight: 200;
	--pppink: #cea0b5;
	--ppgreen: #93b195;
	--ppyellow: #eeb019;
	--pporange: #f3a061;
	--ppblue: #1e87ab;
	--ppred: #d01c1c;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
}

@layer base {
	html {
		scroll-snap-type: y mandatory;
		scroll-snap-type: x none;
	}

	body {
		overflow: scroll;
		scroll-snap-type: y mandatory;
		scroll-snap-type: x none;
	}
}

*:not(:defined) {
	opacity: 0;
}